<!DOCTYPE html>
<html>
    <head>
        <link href="static/styles.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Test title</title>
        {% endif %}
    </head>

    <body>    
    {% block navbar %}{% endblock %}    
    {% block content %}{% endblock %}
    {% block message %}{% endblock %}
    </body>

</html>